<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FurnitureHub - Online Furniture Mart</title>
    <meta name="description"
        content="Explore FurnitureHub, your ultimate destination for stylish and affordable furniture. Shop now and get exclusive deals!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="../../../../mywebsite.com/image.html">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="../../../../mywebsite.com/image.html">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav2.png">
    <!-- Css -->
    <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/plugins/slick.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- jQuery Validation plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>Admin-Category</title>
    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        div .logoa {
            height: 150px;
            width: 136px;
            padding: 0 0 0 0;
        }

        .inner {
            height: 19vh;
        }

        .image-fit {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 19vh;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .h-100 {
            height: 100%;
            /* Occupy full height of parent container */
            display: flex;
            flex-direction: column;
        }

        .navbar {
            flex-grow: 1;
            /* Allow the navbar to grow and occupy available space */
        }

        .navbar-nav {
            flex-direction: column;
            /* Align nav items vertically */
        }

        .product-offers-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            background-color: #8a5d2a;
            color: #ffffff;
            padding: 8px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .product-offers-button:hover {
            background-color: #ff564e;
        }

        #user .iconx {
            background-color: #604220;
            color: #ffffff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            margin: 0 auto;
            /* Center the icon horizontally */
            display: flex;
            align-items: center;
            justify-content: center;
            transition:
                background-color 0.7s ease,
                color 0.7s ease,
                transform 0.7s ease,
                width 0.7s ease,
                height 0.7s ease,
                font-size 0.7s ease;
        }

        #user:hover .iconx {
            background-color: #C7A379;
            color: #ffffff;
            transform: scale(1.6);
            /* No margin change to prevent layout shift */
        }

        .header .topbar .inner {
            height: 100px;
        }

        .header .topbar .inner .logo {
            height: 100px;
            margin-left: 60px;
        }

        .header .topbar .inner .logo #brand-name {
            height: 52px;
            padding: 2px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->

    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Search Form -->
                    <div class="search-form">
                        <form>
                            <!-- Location -->

                            <!-- Location -->
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" name="#" class="form-control" placeholder="Search for products..."
                                    autocomplete="off" required>
                                <div class="input-group-append input-group-text">
                                    <button type="submit">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Search -->
                        </form>
                    </div>
                    <!-- Search Form -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>
                            <li class="user" style="margin-right: 50px;">
                                <% if (user) { %>
                                    <a href="/userDetails">
                                        <img src="/assets/images/header/user.png" class="image-fit" alt="img">
                                        <span>
                                            Admin
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/adimDashBoard">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="/assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>Login as Admin</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/adminLogin">Admin Login</a>
                                            </li>
                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <section class="order-list">
        <div class="container-fluid" style="padding: 0;">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="h-100">
                        <nav class="navbar navbar-expand-lg navbar-dark justify-content-around"
                            style="background-color: #604220;align-items: baseline;">
                            <div class="container-fluid d-flex justify-content-center">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav w-100 d-flex flex-column">
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/adimDashBoard">Dashboard</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-tachometer-alt"></i>
                                                </div>

                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/userManagement/usersList">User
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-users"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/productManagement/productList">Product
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-box-open"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link"
                                                    href="/admin/categoryManagement/categoryList">Category
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-list"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/orderManagement/orderList">Order
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/couponManagement/coupons">Coupon
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-ticket"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/salesReport">Sales Report</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-chart-line"></i>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </nav>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">

                    <section class="section-padding">
                        <div class="container-fluid">
                            <div class="col-12">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="section-header">
                                        <h3 class="title">Product List</h3>
                                    </div>
                                    <div style="padding: 0 30px 0 0;margin: 0;">
                                        <button class="title flex-end product-offers-button">
                                            <h3>Product Offer
                                                Management</h3>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/productManagement/addProduct" style="margin-bottom: 10px;"><button
                                    type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal"><i class="fas fa-box fa-3x"></i> <i
                                        class="fas fa-plus-circle fa-3x"></i>
                                    <h4>Add Product</h4>
                                </button></a>

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive cart_table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Product Category</th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">Product Images</div>
                                                    </th>

                                                    <th scope="col">Price in INR</th>
                                                    <th scope="col">Instock</th>
                                                    <th scope="col">List/Unlist</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <% for(let i=0;i<productDet.length;i++){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="d-flex justify-content-center">
                                                                <%= productDet[i].productName %>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <%= productDet[i].parentCategory.categoryName%>
                                                            </div>
                                                        </td>


                                                        <td>
                                                            <div class="d-flex flex-wrap justify-content-around">
                                                                <% for(let j=0;j<productDet[i].productImage.length;j++){
                                                                    %>

                                                                    <img src="/assets/uploadimages/uploads/<%=productDet[i].productImage[j]%>"
                                                                        style="height: 60px; width: 60px; border-radius: 0;">

                                                                    <% } %>
                                                            </div>
                                    </div>
                                    </td>

                                    <td>
                                        <div class="d-flex justify-content-center">
                                            ₹&nbsp;<%= productDet[i].productPrice %>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <%= productDet[i].productStock %>
                                        </div>
                                    </td>
                                    <% if(productDet[i].isListed){ %>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <button id="unblock<%i%>" onclick="fnBlock('<%=productDet[i]._id %>')"
                                                    type="button" class="btn btn-danger"><i
                                                        class="fas fa-times-circle"></i></button>
                                            </div>
                                        </td>
                                        <% }else{ %>
                                            <td>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <button id="block<%i%>"
                                                        onclick="fnUnBlock('<%=productDet[i]._id %>')" type="button"
                                                        class="btn btn-success"><i class="fas fa-list"></i></button>
                                            </td>
                                </div>
                                <% } %>
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <a
                                                href="/admin/productManagement/editProduct?pid=<%= productDet[i]._id %>&cid=<%= productDet[i].parentCategory._id %>">

                                                <button id="unblock<%i%>" data-target="#categoryModal<%=i%>"
                                                    data-toggle="modal" type="button" class="btn btn-info"><i
                                                        class="fas fa-edit"></i></button>

                                            </a>
                                        </div>
                                    </td>
                                    </tr>
                                    <% } %>
                                        </tbody>
                                        </table>
                            </div>
                        </div>
                </div>
            </div>
    </section>
    <div class="row">
        <div class="col-12">

            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <% for(let i=1; i <=pages; i++){ %>
                        <li class="page-item <%= page == i? 'active' : '' %>"><a class="page-link"
                                href="?page=<%= i %>">
                                <%= i %>
                            </a></li>
                        <!-- <% if(i < pages){ %> -->
                        <!-- <li class="page-item disabled"><a class="page-link"
                                                                                                    href="#">&hellip;</a></li>
                                                                                            <% } %> -->
                        <% } %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                </ul>
            </nav>
        </div>
    </div>

    </div>
    </div>
    </div>
    </section>
    <!-- Category Nav Start -->

    <!-- Category Nav End -->
    <!-- Section Start -->





    <script>
        async function fnBlock(productId) {
            let response = await fetch(`/admin/productManagement/blockProduct?id=${productId}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.block) {
                await Swal.fire({
                    icon: "error",
                    title: "Product Blocked",
                });
            }
            window.location.reload();
        }

        async function fnUnBlock(productId) {
            let response = await fetch(`/admin/productManagement/unBlockProduct?id=${productId}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.unBlock) {
                await Swal.fire({
                    icon: "success",
                    title: "Product Unblocked",
                    confirmButtonText: "OK",
                });
            }
            window.location.reload();
        }

    </script>

    <!-- Section End -->
    <!-- Footer Start -->
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        async function fnList(catName) {
            let response = await fetch(`/listCategory?id=${catName}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.list) {
                await Swal.fire({
                    icon: "error",
                    title: "Category Unlisted",
                });
            }
            window.location.reload();
        }

        async function fnUnlist(catName) {
            let response = await fetch(`/unListCategory?id=${catName}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.unlist) {
                await Swal.fire({
                    icon: "success",
                    title: "Category listed",
                    confirmButtonText: "OK",
                });
            }
            window.location.reload();
        }

        document.querySelector('.product-offers-button').addEventListener("click", () => {
            window.location.href = '/admin/productManagement/product-offers-page'
        })



    </script>
</body>

</html>