<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FurnitureHub - Online Furniture Mart</title>
    <meta name="description"
        content="Explore FurnitureHub, your ultimate destination for stylish and affordable furniture. Shop now and get exclusive deals!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="../../../../mywebsite.com/image.html">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="../../../../mywebsite.com/image.html">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav2.png">
    <!-- Css -->
    <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/plugins/slick.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- jQuery Validation plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>Admin-Category</title>
    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        div .logoa {
            height: 150px;
            width: 136px;
            padding: 0 0 0 0;
        }

        .inner {
            height: 19vh;
        }

        .image-fit {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 19vh;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .h-100 {
            height: 100%;
            /* Occupy full height of parent container */
            display: flex;
            flex-direction: column;
        }

        .navbar {
            flex-grow: 1;
            /* Allow the navbar to grow and occupy available space */
        }

        .navbar-nav {
            flex-direction: column;
            /* Align nav items vertically */
        }

        .product-offers-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: large;
            background-color: #8a5d2a;
            color: #ffffff;
            padding: 8px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .product-offers-button:hover {
            background-color: #ff564e;
        }

        /* Custom select styles */
        .custom-select {
            position: relative;
            display: inline-block;
        }

        .select-selected {
            background-color: #f1f1f1;
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .select-items {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            width: 350px;
            z-index: 1;
            overflow-y: auto;
            max-height: 200px;
        }

        .select-item {
            padding: 10px;
            cursor: pointer;
        }

        .select-item:hover {
            background-color: #f0f0f0;
        }

        .product-image {
            width: 30px;
            /* Adjust size as needed */
            height: auto;
            margin-right: 10px;
        }

        #user .iconx {
            background-color: #604220;
            color: #ffffff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            margin: 0 auto;
            /* Center the icon horizontally */
            display: flex;
            align-items: center;
            justify-content: center;
            transition:
                background-color 0.7s ease,
                color 0.7s ease,
                transform 0.7s ease,
                width 0.7s ease,
                height 0.7s ease,
                font-size 0.7s ease;
        }

        #user:hover .iconx {
            background-color: #C7A379;
            color: #ffffff;
            transform: scale(1.6);
            /* No margin change to prevent layout shift */
        }

        .header .topbar .inner {
            height: 100px;
        }

        .header .topbar .inner .logo {
            height: 100px;
            margin-left: 60px;
        }

        .header .topbar .inner .logo #brand-name {
            height: 52px;
            padding: 2px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>

    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Search Form -->
                    <div class="search-form">
                        <form>
                            <!-- Location -->

                            <!-- Location -->
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" name="#" class="form-control" placeholder="Search for products..."
                                    autocomplete="off" required>
                                <div class="input-group-append input-group-text">
                                    <button type="submit">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Search -->
                        </form>
                    </div>
                    <!-- Search Form -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>
                            <li class="user" style="margin-right: 50px;">
                                <% if (user) { %>
                                    <a href="/userDetails">
                                        <img src="/assets/images/header/user.png" class="image-fit" alt="img">
                                        <span>
                                            Admin
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/adimDashBoard">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="/assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>Login as Admin</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/adminLogin">Admin Login</a>
                                            </li>
                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <section class="order-list">
        <div class="container-fluid" style="padding: 0;">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="h-100">
                        <nav class="navbar navbar-expand-lg navbar-dark justify-content-around"
                            style="background-color: #604220;align-items: baseline;">
                            <div class="container-fluid d-flex justify-content-center">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav w-100 d-flex flex-column">
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/adimDashBoard">Dashboard</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-tachometer-alt"></i>
                                                </div>

                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/userManagement/usersList">User
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-users"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/productManagement/productList">Product
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-box-open"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link"
                                                    href="/admin/categoryManagement/categoryList">Category
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-list"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/orderManagement/orderList">Order
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/couponManagement/coupons">Coupon
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-ticket"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/salesReport">Sales Report</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-chart-line"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">

                    <section class="section-padding">
                        <div class="container-fluid">
                            <div class="col-12">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="section-header">
                                        <h3 class="title">Product Offers</h3>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addProductOfferModal" style="margin-bottom: 10px;">
                                Add New Product Offer
                            </button>

                            <!--Add Product Offer Modal -->
                            <div class="modal fade" id="addProductOfferModal" tabindex="-1"
                                aria-labelledby="addProductOfferModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addProductOfferModalLabel">Add New Product Offer
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form id="addProductOfferForm" role="form">
                                            <div class="modal-body">

                                                <div class="custom-select">
                                                    <div class="select-selected">Select a Product</div>
                                                    <div class="select-items">
                                                        <% for(let i=0; i<productDet.length; i++){ %>
                                                            <div class="select-item"
                                                                data-value="<%=productDet[i]._id%>">
                                                                <img src="/assets/uploadimages/uploads/<%=productDet[i].productImage[0]%>"
                                                                    alt="<%=productDet[i].productName%>"
                                                                    class="product-image">
                                                                <%=productDet[i].productName%>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>
                                                <input readonly id="selectedProductName" name="selectedProductName"
                                                    style="border: none;">



                                                <div class="offerPercentageInput p-2">
                                                    <label for="productOfferPercentage" class="mb-2">Product Offer
                                                        Percentage: </label>
                                                    <div class="input-group">
                                                        <input id="productOfferPercentage" name="productOfferPercentage"
                                                            class="form-control"
                                                            placeholder="Enter the offer percentage">
                                                    </div>
                                                    <div class="form-text">Choose a percentage to be discounted. Between
                                                        5% and 90%.</div>
                                                </div>

                                                <div class="startDateInput p-2">
                                                    <label for="startDate">Offer Start Date: </label>
                                                    <div class="input-group">
                                                        <input id="startDate" name="startDate" type="date"
                                                            class="form-control">
                                                    </div>
                                                    <div class="form-text">Choose a start date for the offer to be
                                                        considered.</div>
                                                </div>

                                                <div class="endDateInput p-2">
                                                    <label for="endDate">Offer Expiry Date : </label>
                                                    <div class="input-group">
                                                        <input id="endDate" name="endDate" type="date"
                                                            class="form-control">
                                                    </div>
                                                    <div class="form-text">Choose an exipry date for offer to end.</div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button id="addCouponBtn" type="submit" class="btn btn-info">Save
                                                    changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive cart_table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">
                                                            Product
                                                        </div>
                                                    </th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">Offer Percentage
                                                        </div>
                                                    </th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">Start Date</div>
                                                    </th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">End Date</div>
                                                    </th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">Current Status</div>
                                                    </th>
                                                    <th scope="col">
                                                        <div class="d-flex justify-content-center">Action</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <% for(let i=0;i<productOfferData.length;i++){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="d-flex w-100 justify-content-start align-items-center flex-wrap"
                                                                style="padding-left: 10px;">
                                                                <div style="margin-right: 20px;">
                                                                    <img src="/assets/uploadimages/uploads/<%=productOfferData[i].productId.productImage[0]%>"
                                                                        style="height: 60px; width: 60px; border-radius: 0;">
                                                                </div>
                                                                <div>
                                                                    <%= productOfferData[i].productName %>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <%= productOfferData[i].productOfferPercentage%>&nbsp;%
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <%= productOfferData[i].startDate.toLocaleDateString('en-US',
                                                                    { year: 'numeric' , month: '2-digit' ,
                                                                    day: '2-digit' })%>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <%= productOfferData[i].endDate.toLocaleDateString('en-US',
                                                                    { year: 'numeric' , month: '2-digit' ,
                                                                    day: '2-digit' })%>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <%= productOfferData[i].currentStatus%>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-center">
                                                                <button type="button" class="btn btn-info"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#editModal<%= i %>">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Edit Product Offer Modal  -->
                            <% productOfferData.forEach(function(productOffer, index) { %>
                                <div class="modal fade" id="editModal<%= index %>" tabindex="-1"
                                    aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel">Edit Offer</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form id="editProductOfferForm<%= index %>" role="form">
                                                <div class="modal-body">
                                                    <div class="input-group mb-3">
                                                        <label class="container">
                                                            <label for="productName" class="mb-2">Product Name:</label>
                                                            <select name="productName" id="productName<%= index %>"
                                                                class="form-select" aria-label="Default select example"
                                                                disabled>
                                                                <% productDet.forEach(function(product) { %>
                                                                    <% if
                                                                        (product.productName===productOffer.productName)
                                                                        { %>
                                                                        <option selected>
                                                                            <div>
                                                                                <%= product.productName %>
                                                                            </div>
                                                                        </option>
                                                                        <% } else { %>
                                                                            <option>
                                                                                <div>
                                                                                    <%= product.productName %>
                                                                                </div>
                                                                            </option>
                                                                            <% } %>
                                                                                <% }); %>
                                                            </select>
                                                        </label>
                                                    </div>

                                                    <div class="offerPercentageInput p-2">
                                                        <label for="productOfferPercentage" class="mb-2">Product Offer
                                                            Percentage: </label>
                                                        <div class="input-group">
                                                            <input id="productOfferPercentage<%= index %>"
                                                                name="productOfferPercentage" class="form-control"
                                                                placeholder="Enter the offer percentage"
                                                                value="<%= productOffer.productOfferPercentage %>">
                                                        </div>
                                                        <div class="form-text">Choose a percentage to be discounted.
                                                            Between 5% and 90%.</div>
                                                    </div>

                                                    <div class="startDateInput p-2">
                                                        <label for="startDate">Offer Start Date: </label>
                                                        <div class="input-group">
                                                            <input id="startDate<%= index %>" name="startDate"
                                                                type="date" class="form-control"
                                                                value="<%= productOffer.startDateFormatted %>">
                                                        </div>
                                                        <div class="form-text">Choose a start date for the offer to be
                                                            considered.</div>
                                                    </div>

                                                    <div class="endDateInput p-2">
                                                        <label for="endDate">Offer Expiry Date : </label>
                                                        <div class="input-group">
                                                            <input id="endDate<%= index %>" name="endDate" type="date"
                                                                class="form-control"
                                                                value="<%= productOffer.endDateFormatted %>">
                                                        </div>
                                                        <div class="form-text">Choose an exipry date for offer to end.
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button id="editOfferBtn" type="submit" class="btn btn-info">Save
                                                        changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </section>
                    <!-- Edit Product Script- form validation and submit  -->

                    <script>
                        console.log("Sdfrevevbv dsgtr");
                        var today = new Date().toISOString().split('T')[0];
                        const productOfferData = '<%- JSON.stringify(productOfferData) %>';
                        const productDetData = '<%- JSON.stringify(productDet) %>';
                        const parsedProdOffer = JSON.parse(productOfferData);
                        const parsedProdDet = JSON.parse(productOfferData);
                        console.log(parsedProdOffer);
                        console.log(parsedProdDet);

                        $(document).ready(function () {
                            parsedProdOffer.forEach((productOffer, index) => {
                                const formId = `#editProductOfferForm${index}`;
                                const startDateSelector = `#startDate${index}`;
                                const endDateSelector = `#endDate${index}`;
                                const startDateElement = $(startDateSelector);
                                const endDateElement = $(endDateSelector);

                                // startDateElement.attr('min', today);
                                // endDateElement.attr('min', today);

                                // startDateElement.on('change', function () {
                                //     let startDateValue = startDateElement.val();
                                //     endDateElement.attr('min', startDateValue);
                                // });

                                // endDateElement.on('change', function () {
                                //     let endDateValue = endDateElement.val();
                                //     startDateElement.attr('max', endDateValue);
                                // });

                                $(formId).validate({
                                    rules: {
                                        productName: "required",
                                        productOfferPercentage: {
                                            required: true,
                                            min: 5,
                                            max: 90
                                        },
                                        startDate: "required",
                                        endDate: "required"
                                    },

                                    submitHandler: async function (form, event) {
                                        event.preventDefault();

                                        const formData = {
                                            productName: $(form.productName).val(),
                                            productOfferPercentage: $(form.productOfferPercentage).val(),
                                            startDate: $(form.startDate).val(),
                                            endDate: $(form.endDate).val()
                                        };

                                        try {
                                            const response = await fetch(`/admin/productOfferManagement/editOffer/${productOffer._id}`, {
                                                method: 'PUT',
                                                headers: { "Content-Type": "application/json" },
                                                body: JSON.stringify(formData)
                                            });

                                            const result = await response.json();

                                            if (result.success) {
                                                Swal.fire({
                                                    icon: "success",
                                                    title: "Your Product Offer has been updated",
                                                    showConfirmButton: true,
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        window.location.href = "/admin/productManagement/product-offers-page" // Reload the page after user confirms
                                                    }
                                                });
                                            } else {
                                                Swal.fire({
                                                    icon: "error",
                                                    title: "Failed to update the product offer",
                                                    text: "Please try again"
                                                });
                                            }
                                        } catch (error) {
                                            console.error(error);
                                            Swal.fire({
                                                icon: "error",
                                                title: "Failed to update the product offer",
                                                text: "Please try again"
                                            });
                                        }
                                    }
                                });
                            });
                        });
                    </script>

                    <div class="row">
                        <div class="col-12">

                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <% for(let i=1; i <=pages; i++){ %>
                                        <li class="page-item <%= page == i? 'active' : '' %>"><a class="page-link"
                                                href="?page=<%= i %>">
                                                <%= i %>
                                            </a></li>

                                        <% } %>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Category Nav Start -->

    <!-- Category Nav End -->
    <!-- Section Start -->







    <!-- Section End -->
    <!-- Footer Start -->
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // const productOfferData = '<%- JSON.stringify(productOfferData) %>'
        // const parsedProdOffer = JSON.parse(productOfferData)
        // console.log(parsedProdOffer);


        $(document).ready(function () {
            $('.select-item').click(function () {
                var selectedProductName = $(this).text(); // Get the selected product name
                $('#selectedProductName').val(selectedProductName); // Update the hidden input with the selected product name
                $('.select-selected').text(selectedProductName); // Update the displayed product name in the dropdown
                $('.select-items').hide(); // Hide the dropdown after selection (if needed)
            });
            $("#addProductOfferForm").validate({
                rules: {
                    selectedProductName: {
                        required: true,
                    },
                    productOfferPercentage: {
                        required: true,
                        min: 5,
                        max: 90
                    },
                    startDate: {
                        required: true,
                    },
                    endDate: {
                        required: true,
                    }
                },
                submitHandler: async function (form, event) {
                    event.preventDefault()

                    let formData = {
                        productName: $('#selectedProductName').val().trim(),
                        productOfferPercentage: form.productOfferPercentage.value,
                        startDate: form.startDate.value,
                        endDate: form.endDate.value
                    }

                    let response = await fetch('/admin/productOfferManagement/addOffer', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData)
                    })

                    let result = await response.json()

                    if (result.success) {
                        await Swal.fire({
                            icon: "success",
                            title: "New Product offer Succesfully Added",
                            showConfirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/admin/productManagement/product-offers-page" // Reload the page after user confirms
                            }
                        })
                    } else {
                        await Swal.fire({
                            icon: "error",
                            title: "Product Offer Already Exists for This Product",
                            text: "Please try editing the offer of this particular product",
                        });
                    }
                }
            });
        });

        $(document).ready(function () {
            $('.select-selected').click(function () {
                $('.select-items').toggle();
            });

            $('.select-item').click(function () {
                var value = $(this).attr('data-value');
                var text = $(this).text();
                $('#productSelect').val(value);
                $('.select-selected').text(text);
                $('.select-items').hide();
            });

            $(document).click(function (event) {
                if (!$(event.target).closest('.custom-select').length) {
                    $('.select-items').hide();
                }
            });
        });


    </script>
</body>

</html>